:root {
  --light-shades-color: #ECE5F0;
  --light-accent-color: #E98A15;
  --main-brand-color: #00BFB2;
  --dark-accent-color: #028090;
  --dark-shades-color: #012622;
}

body {
  font-family: "Hiragion Gothic", "Hiragion Gothic ProN", "Ubuntu", "Meiryo", sans-serif, Apple Color Emoji, Segoe UI Emoji;
  font-size: 1.0rem;
}

h1, h2, h3, h4, h5, h6, time {
  font-family: "Khand", sans-serif;
  font-weight: 600;
}

#container header h1 {
  margin-bottom: 0;
}

#container header p {
  font-size: 0.9em;
  color: var(--dark-shades-color);
  margin-top: 0.8em;
}
 

#container nav {
  font-family: "Khand", sans-serif;
  font-weight: 600;
  font-size: 1.2em;
  border-bottom: solid 0.0px var(--dark-accent-color);
  padding-bottom: 0.2em;
}

#container nav ul li a.active {
  padding-bottom: 0.0em;
  border-bottom: 0.25em solid var(--dark-accent-color);
}
#container footer {
  border-top: solid 0px var(--dark-accent-color);
}

#container footer h6 {
  font-size: 0.9em;
}

@media only screen and (max-width: 800px) {
  #container header ul {
    float: right;
  }
  #container header ul li {
    margin: 0 1em 0 0;
  }
}


.meta-aside, #container main section#home ul li aside, #container main article aside {
  font-family: "Khand", sans-serif;
  font-size: 1.0em;
}

body {
  color: var(--dark-shades-color);
  background-color: var(--light-shades-color);
}

#container {
  background-color: #fefefe;
}
#container header h1 a {
  color: var(--dark-shades-color);
}

a {
  color: var(--main-brand-color);
  text-decoration: none;
}

a:visited {
  color: var(--main-brand-color);
}

a:hover {
  color: var(--light-accent-color);
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1.0rem;
}
