[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
[submodule "hugo-kiera"]
	path = hugo-kiera
	url = https://github.com/funkydan2/hugo-kiera.git
[submodule "themes/hugo-kiera"]
	path = themes/hugo-kiera
	url = https://github.com/NidzaKornjaca/hugo-kiera.git
