:root {
  --light-shades-color: #ECE5F0;
  --light-accent-color: #E98A15;
  --main-brand-color: #00BFB2;
  --dark-accent-color: #028090;
  --dark-shades-color: #012622;
}

body {
  font-family: "Hiragion Mincho", "Hiragion Mincho ProN", serif, Apple Color Emoji, Segoe UI Emoji;
  font-weight: 500;
  font-size: 1.0rem;
}

h1, h2, h3, h4, h5, h6, time {
  font-family: "Martel", serif;
  font-weight: 900;
}

#container nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  border-bottom: solid 0px var(--dark-accent-color);
  padding-bottom: 0.5em;
}

#container nav ul li a.active {
  padding-bottom: 0.3em;
  border-bottom: 0.2em solid var(--dark-accent-color);
}
#container footer {
  border-top: solid 0px var(--dark-accent-color);
}

#container footer h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-size: 0.8em;
}

.meta-aside, #container main section#home ul li aside, #container main article aside {
  font-family: "Ubuntu", sans-serif;
  font-size: 0.9em;
}

body {
  color: var(--dark-shades-color);
  background-color: var(--light-shades-color);
}

#container {
  background-color: #fefefe;
}
#container header h1 a {
  color: var(--dark-shades-color);
}

a {
  color: var(--main-brand-color);
  text-decoration: none;

}

a:visited {
  color: var(--main-brand-color);
}

a:hover {
  color: var(--light-accent-color);
}

#container main {
  flex: 1 0 0;
  line-height: 1.5;
  font-size: 1.0rem;
}
